.btn {
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.25s ease;

  //Types: round, square...
  &.round {
    border-radius: 50px;
    border: none;
  }
  &.square {
    border: none;
    border-radius: 2px;
  }

  //Background-colors: blue, orange, purple...
  &.green {
    background-color: #56776c;
    color: white;

    &:hover {
      background-color: #464f41;
    }
  }
  &.orange {
    background-color: #eeb76b;
    color: black;

    &:hover {
      background-color: #e2703a;
    }
  }

  //Size: small, big...
  &.small {
    height: 40px;

    padding: 5px 15px;
    font-size: 14px;
  }

  &.big {
    height: 70px;
    width: 140px;
    padding: 5px 25px;
    font-size: 18px;
  }
}
